@import "./base.css";

/*
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f5f9;
}

.dark ::-webkit-scrollbar-track {
	background: #1e293b;
}

::-webkit-scrollbar-thumb {
	background: #cbd5e1;
	border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
	background: #475569;
}

::-webkit-scrollbar-thumb:hover {
	background: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb:hover {
	background: #64748b;
}
*/

html,
body {
	height: 100%;
	overflow: hidden;
}

#app {
	min-height: 100vh;
	height: 100%;
	overflow-y: auto;
}

.category-transition {
	transition:
		max-height 0.3s ease-in-out,
		opacity 0.2s ease-in-out;
}
